<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.CatalogActivity"
            android:exported="true"
            android:label="LECTOR catálogo"
            android:taskAffinity="codelab.lector.catalog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".debug.ScanActivity"
            android:exported="true"
            android:label="LECTOR escaneo"
            android:taskAffinity="codelab.lector.scan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
